body {
  font-family: Source Code Pro, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: #d7c3ff;
  padding: 10px;
}

.container {
  width: 90%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

h2 {
  font-size: 18px;
  margin: 10px;
}

.scrape-btn {
  width: 100%;
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px dashed #ccc;
}

label {
  color: #6200ea;
  font-weight: light;
}

.dropdown-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dropdown {
  flex: 1;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-btn,
.play-btn {
  margin-left: 5px;
  border: none;
  border-color: #6200ea;
  color: #6200ea;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
}

.play-btn {
  font-size: 14px;
  background-color: #6200ea;
  color: white;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

nav ul {
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
}

li {
  padding: auto;
  text-align: left;
  margin: 0;
  list-style-type: circle;
}

.data-table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.wallet {
  border-color: #6200ea;
  border-width: 5px;
  background-color: #eee;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
}

/* .footer {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
} */

#bottom-footer {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 80%;
}
